nav {
  position: fixed;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  place-items: center;
  background: rgba(255, 255, 255, 0);
}
nav > a {
  display: flex;
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  transition: all 0.2s;
}
nav > a:hover {
  color: black;
  background-color: whitesmoke;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.432);
}
