.Card {
    background-color: rgba(32, 32, 54, 0.671);
    text-decoration: none;
    width: min-content;
    height: min-content;
    margin: 10px 5px;
    position: relative;
    transition: all 0.3s;

    .image {
      height: 300px;
      width: 300px;
      box-sizing: border-box;
      overflow-y: auto;
      img {
        width: 100%;
      }
    }
    a{
    text-decoration: none;
      p {
        position: relative;
        color: white;
        text-align: center;
        height: 30px;
        margin: 5px 0;
        position: relative;

        .icon {
          font-size: 1.2em;
          border-radius: 10px;
          animation: rotationX 3s ease reverse infinite;
        }
      }
    }
}
