@keyframes rotationX {
  0% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-800deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}

@keyframes rotationX-15 {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes reziseZ {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: rotate(1.1);
  }
  100% {
    transform: rotate(0.9);
  }
}
