footer {
  color: rgb(236, 236, 236);
  overflow-y: hidden;
  letter-spacing: 3px;
  background-color: rgb(2, 14, 53);
  position: relative;
  z-index: 2;
  p {
    font-size: 1.3em;
    text-align: center;
    padding: 20px 0;
    font-weight: 800;
  }
}
