/* header - nav */
nav {
  box-shadow: 0 0.001px 5px var(--color-2);
  background-color: var(--color-1);
  font-weight: 800;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

/* header - nav - list */
nav .list {
  background-color: var(--color-2);
  color: var(--color-1);
  padding-inline: 5px;
}

nav .list:hover {
  color: aliceblue;
}

/* header - nav - #list */
nav #list {
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0;
  right: -1000px;
  overflow-y: auto;

  width: 200px;
  background-color: var(--color-1);
  margin-top: 30px;
}

nav #list p {
  border: solid 1px var(--color-1);
  padding-inline: 10px;
  background-color: var(--color-2);
  color: var(--color-1);
  cursor: pointer;
}

nav #list p:hover {
  color: aliceblue;
}

/* header - nav - .burger-menu */
nav .burger-menu {
  padding-inline: 5px;
  background-color: var(--color-2);
  color: var(--color-1);
}

nav .burger-menu:hover {
  color: aliceblue;
}
/* header - nav - #burger-menu */
#burger-menu {
  left: -1000px;
  top: 30px;
  opacity: 0;

  width: 100%;
  max-width: 160px;
  overflow-y: auto;

  box-sizing: border-box;
  position: absolute;
  padding: 0;
}
#burger-menu div {
  padding-inline: 5px;
  color: var(--color-2);
  background-color: var(--color-1);
}

#burger-menu div:hover {
  background-color: var(--color-1);
  color: var(--color-2);
}

#burger-menu span {
  display: flex;
  flex-direction: column;
}

#burger-menu span a {
  background-color: var(--color-2);
  color: var(--color-1);
  margin: 1px 10px;
  padding-inline: 3px;
}

#burger-menu span a:hover {
  background-color: var(--color-1);
  color: var(--color-2);
}
