/* main */
main {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
main .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
}
main a {
  color: inherit;
  cursor: pointer;
  padding: 7px;
  text-decoration: none;
}
main p {
  padding-bottom: 10px;
  line-height: 1.1rem;
}

/* main - section#cover */
#cover {
  margin-bottom: 20px;
}
#cover img {
  width: 170px;
  border-radius: 50%;
  border: inset var(--color-1) 7px;
  justify-content: center;
  /* animation: rotate-y-720 3s infinite; */
}

#cover span {
  padding: 5px;
  border-radius: 10px;
}

/* main - section#content */
main section#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* main - section#content - article#table */
article#table {
  order: 2;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#table h2::first-letter {
  font-size: 40px;
  font-size: bold;
}

#certificate,
#organization,
#work-experience {
  display: none;
}

/* main - section#content - aside#course */
section#content aside#course {
  position: fixed;

  top: 0;
  left: 0;
  bottom: 40px;
  order: 1;
  max-width: 200px;
  padding: 5px 10px;

  box-sizing: border-box;
  word-wrap: break-word;
  margin-top: 30px;
  border-right: solid 1px var(--color-2);
  box-shadow: 0.001px 0 5px var(--color-2);
  width: 100%;
  text-align: center;
  overflow-y: scroll;
}

/* main - section#content - aside#course - .course */
section#content aside .course {
  border: dashed 1px var(--color-2);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 2px;
}

section#content aside h2,
section#content aside .course h3 {
  color: var(--color-2);
}
section#content aside .course p {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  background-color: var(--color-2);
  color: var(--color-1);
  border-radius: 3px;
}

section#content aside .course img {
  border: outset var(--color-1) 7px;
  box-shadow: 0 0 5px 1px #f5f5f5;
  border-radius: 25%;
  cursor: pointer;
  height: 110px;
  width: 110px;
}

section#content aside .course:hover img {
  animation: rotate-y-720 3s infinite forwards;
}
