footer {
  position: relative;
  background-color: var(--color-1);
  color: var(--color-2);
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  z-index: 3;
  box-shadow: 0 -0.001px 5px var(--color-2);
}

footer span {
  padding: 5px;
  border-radius: 10px;
}