/* #navbar */
nav.navbar {
  background-color: #ddd;
  box-shadow: 1px 0px 5px gray;
  display: flex;
  font-weight: bolder;
  height: 20px;
  justify-content: space-evenly;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.left-open,
.right-open,
.center-open {
  cursor: pointer;
}
.left-close,
.right-close {
  text-align: right;
}

.center-open::before {
  content: 'Center';
  font-weight: bolder;
}
.left-open::after {
  content: '<< Open';
  font-weight: bolder;
}
.left-close::before {
  content: '<< Close';
}
.right-open::after {
  content: 'Open >>';
  font-weight: bolder;
}
.right-close::before {
  content: 'Close >>';
}

/* cover */
#cover {
  margin-top: 100px;
}
#cover img {
  width: 10em;
  border-radius: 50%;
  justify-content: center;
  border: outset 10px rgba(240, 240, 240, 0.9);
  animation: rotate-y 3s infinite;
}
#cover h1 {
  text-shadow: 0px 1px 1px blue;
}
#cover span {
  transition: 0.7s;
  margin: auto;
}
#cover span:hover {
  color: red;
  transition: 0.7s;
  font-size: 20px;
  cursor: pointer;
}

/* MAIN */
main {
  display: flex;
  justify-content: space-evenly;
}

/* SECTION */
section {
  margin: 0 auto;
}

/* -#table */
#content {
  margin: 0 auto;
  width: 800px;
  box-sizing: border-box;
}

#content h2 {
  color: var(--color-1);
  text-shadow: 0px 1px 1px blue;
}

#content h2::first-letter {
  font-size: 40px;
  font-size: bold;
}

/* table */
thead th {
  background-color: #dddddd;
  box-shadow: inset 2px 2px 10px var(--color-1), inset -2px -2px 10px var(--color-1);
}

th:hover a {
  color: red;
  font-size: large;
}

table {
  box-shadow: 0px 1px 7px var(--color-2);
  margin-bottom: 8px;
}

/* aside */
#left-aside,
#right-aside {
  background-color: #ddd;
  box-shadow: 1px 0px 5px gray;
  position: fixed;
  margin-top: 45px;
  opacity: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

#left-aside {
  left: 0;
}
#right-aside {
  right: 0;
}
#left-aside div,
#right-aside div {
  border: groove 2px var(--color-4);
  word-wrap: break-word;
  padding: 7px 10px;
  box-sizing: border-box;
  display: block;
}

#left-aside div:hover,
#right-aside div:hover {
  background-color: var(--color-1);
  color: var(--color-4);
  cursor: pointer;
}

/* footer */
footer p {
  text-shadow: 0 0.1px 0.1px blue;
}
footer:hover span {
  font-weight: bold;
}

/* class */
.box {
  background-color: var(--color-4);
  box-shadow: 0px 3px 8px var(--color-3);
  border: solid 3px var(--color-3);
  border-radius: 5px;
  padding: 25px 10px 10px 10px;

  display: none;
  overflow-y: auto;
  z-index: 3;

  position: fixed;
  top: 10%;
  bottom: 5%;
  left: 30%;
  right: 30%;
}
.box li {
  margin-left: 30px;
}
.box h5 {
  font-weight: bold;
}

.close {
  background-color: rgb(199, 199, 199);
  border: solid 3px var(--color-3);
  border-radius: 40%;
  color: var(--color-3);
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 5px;

  position: fixed;

  top: 8%;
  right: 28%;
  z-index: 4;
}
.close::before {
  content: 'X';
}

.btn {
  border-radius: 10px;
  box-shadow: inset 2px 2px 10px var(--color-2), inset -2px -2px 10px var(--color-2);
  font-weight: 800;
  opacity: 0.7;
}
.btn:hover {
  color: red;
}

#training,
#organization,
#work-experience {
  display: none;
}

/* mobile view */
@media screen and (max-width: 1024px) {
  .box {
    right: 25%;
    left: 25%;
  }
  .close {
    right: 23%;
  }
}

@media screen and (max-width: 800px) {
  .box {
    right: 15%;
    left: 15%;
  }
  .close {
    right: 13%;
  }
}

@media screen and (max-width: 450px) {
  .box {
    right: 5%;
    left: 5%;
  }
  .close {
    right: 3%;
  }
}
